Repository YAPP-Github/Pokit-iOS, pull requests merged in 2024-08, with the labels that each got.

#65 feat: Network configuration
  Projects/App/Sources/AppDelegate/AppDelegateFeature.swift
  Projects/CoreKit/Project.swift
  Projects/CoreKit/Sources/Core/DependencyValues+openSetting.swift
  Projects/CoreKit/Sources/Core/Extensions/UIApplication+rootViewController.swift
  Projects/CoreKit/Sources/CoreNetwork/BaseResponse.swift
  Projects/CoreKit/Sources/CoreNetwork/HTTPSession.swift
  Projects/CoreKit/Sources/CoreNetwork/MoyaLoggerPlugin.swift
  Projects/CoreKit/Sources/CoreNetwork/MoyaProvider+Build.swift
  Projects/CoreKit/Sources/CoreNetwork/MoyaProvider+request.swift
  Projects/CoreKit/Sources/CoreNetwork/Sources/Source.swift
  Projects/CoreKit/Sources/CoreNetwork/TokenInterceptor.swift
  Projects/CoreKit/Sources/Data/Client/CoreLinkPresentation/LinkPresentationProvider/LinkPresentationClient.swift
  Projects/CoreKit/Sources/Data/Client/CoreLinkPresentation/LinkPresentationProvider/LinkPresentationProvider.swift
  Projects/CoreKit/Sources/Data/Client/Keychain/KeychainClient.swift
  Projects/CoreKit/Sources/Data/Client/RemoteNotificationClient/RemoteNotificationsClient+LiveKey.swift
  Projects/CoreKit/Sources/Data/Client/RemoteNotificationClient/RemoteNotificationsClient+TestKey.swift
  Projects/CoreKit/Sources/Data/Client/RemoteNotificationClient/RemoteNotificationsClient.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Controller/AppleLoginController.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Controller/GoogleLoginController.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Model/SocialLoginInfo.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Model/SocialLoginProvider.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/SocialLoginClient.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/SocialLoginError.swift
  Projects/CoreKit/Sources/Data/Client/UserDefaults/UserDefaults.swift
  Projects/CoreKit/Sources/Data/Client/UserDefaults/UserDefaultsKey.swift
  Projects/CoreKit/Sources/Data/Client/UserNotificationClient/UserNotificationClient+LiveKey.swift
  Projects/CoreKit/Sources/Data/Client/UserNotificationClient/UserNotificationClient+TestKey.swift
  Projects/CoreKit/Sources/Data/Client/UserNotificationClient/UserNotificationClient.swift
  Projects/CoreKit/Sources/Data/DTO/Auth/ReissueRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Auth/SignInRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Auth/TokenResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Auth/WithdrawRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Base/BasePageableRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Base/BaseUserResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Category/CategoryCountResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Category/CategoryEditRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Category/CategoryEditResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Category/CategoryListInquiryResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Content/BookmarkResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Content/ContentBaseRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Content/ContentBaseResponse.swift
  Projects/CoreKit/Sources/Data/DTO/Content/ContentListInquiryResponse.swift
  Projects/CoreKit/Sources/Data/DTO/User/NicknameCheckResponse.swift
  Projects/CoreKit/Sources/Data/DTO/User/NicknameEditRequest.swift
  Projects/CoreKit/Sources/Data/DTO/User/SignupRequest.swift
  Projects/CoreKit/Sources/Data/Network/Auth/AuthClient.swift
  Projects/CoreKit/Sources/Data/Network/Auth/AuthEndpoint.swift
  Projects/CoreKit/Sources/Data/Network/Category/CategoryClient.swift
  Projects/CoreKit/Sources/Data/Network/Category/CategoryEndpoint.swift
  Projects/CoreKit/Sources/Data/Network/Content/ContentClient.swift
  Projects/CoreKit/Sources/Data/Network/Content/ContentEndpoint.swift
  Projects/CoreKit/Sources/Data/Network/User/UserClient.swift
  Projects/CoreKit/Sources/Data/Network/User/UserEndpoint.swift
  Projects/Feature/FeatureAddLink/Sources/AddLink/AddLinkFeature.swift
  Projects/Feature/FeatureLinkDetail/Sources/LinkDetail/LinkDetailFeature.swift
  Projects/Feature/FeatureLogin/Sources/LoginRoot/LoginRootFeature.swift
  Projects/Feature/FeatureSetting/Sources/Setting/PokitSettingFeature.swift
  graph.png
Labels: Feat

#67 기능별 도메인단 구현
  Projects/DSKit/Sources/Components/PokitLinkCard.swift
  Projects/DSKit/Sources/Components/PokitList.swift
  Projects/DSKit/Sources/Components/PokitSelect.swift
  Projects/Domain/Sources/AddLink/AddLink.swift
  Projects/Domain/Sources/Base/BaseCategory.swift
  Projects/Domain/Sources/Base/BaseCategoryImage.swift
  Projects/Domain/Sources/Base/BaseCategoryListInquiry.swift
  Projects/Domain/Sources/Base/BaseContent.swift
  Projects/Domain/Sources/Base/BaseContentListInquiry.swift
  Projects/Domain/Sources/Base/BaseItemInquirySort.swift
  Projects/Domain/Sources/Base/BasePageable.swift
  Projects/Domain/Sources/Base/BaseUser.swift
  Projects/Domain/Sources/CategoryDetail/CategoryDetail.swift
  Projects/Domain/Sources/LinkDetail/LinkDetail.swift
  Projects/Domain/Sources/Login/Login.swift
  Projects/Domain/Sources/NicknameSetting/NicknameSetting.swift
  Projects/Domain/Sources/Pokit/Pokit.swift
  Projects/Domain/Sources/PokitCategorySetting/PokitCategorySetting.swift
  Projects/Domain/Sources/RegisterNickname/RegisterNickname.swift
  Projects/Domain/Sources/Remind/Remind.swift
  Projects/Domain/Sources/SignUpDone/SignUpDone.swift
  Projects/Domain/Sources/Source.swift
  Projects/Feature/FeatureAddLink/Sources/AddPokitSheet/AddPokitSheetView.swift
  Projects/Feature/FeatureAddLink/Sources/Mock/PokitMock.swift
  Projects/Feature/FeatureCategoryDetail/Sources/Mock/CategoryDetailMock.swift
  Projects/Feature/FeatureCategoryDetail/Sources/Mock/CategoryItemMock.swift
  Projects/Feature/FeaturePokit/Sources/Mock/PokitRootLinkMock.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootFeature.swift
  Projects/Feature/FeatureRemind/Sources/Mock/LinkMock.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindView.swift
  Projects/Feature/FeatureSetting/Sources/Search/Mock/SearchMock.swift
  Projects/Feature/FeatureSetting/Sources/Search/Mock/SearchPokitMock.swift
  Projects/Feature/FeatureSetting/Sources/Search/PokitSearchView.swift
  Projects/Feature/FeatureSetting/Sources/Search/Sheet/FilterBottomSheet.swift
  Projects/Util/Sources/Protocols/PokitLinkCardItem.swift
  Projects/Util/Sources/Protocols/PokitSelectItem.swift
Labels: Feat

#99 feat: Alert API Flow Connect
  Projects/App/Sources/MainTab/MainTabPath.swift
  Projects/CoreKit/Sources/Data/DTO/Alert/AlertListInquiryResponse.swift
  Projects/CoreKit/Sources/Data/Network/Alert/AlertClient.swift
  Projects/CoreKit/Sources/Data/Network/Alert/AlertEndpoint.swift
  Projects/Domain/Sources/Alert/Alert.swift
  Projects/Domain/Sources/Alert/AlertItem.swift
  Projects/Domain/Sources/Alert/AlertListInquiry.swift
  Projects/Domain/Sources/DTO/Alert/AlertListInquiryResponse+Extension.swift
  Projects/Feature/FeatureSetting/Sources/Alert/PokitAlertBoxFeature.swift
  Projects/Feature/FeatureSetting/Sources/Alert/PokitAlertBoxView.swift
  Projects/Feature/FeatureSettingDemo/Sources/FeatureSettingDemoApp.swift
  Projects/Util/Sources/Constants.swift
Labels: Feat, API

#100 부모 <-> 자식 뷰 간 필요한 delegate 정의
  Projects/App/Sources/AppDelegate/AppDelegate.swift
  Projects/App/Sources/AppDelegate/AppDelegateFeature.swift
  Projects/App/Sources/MainTab/MainTabPath.swift
  Projects/App/Sources/PokitApp.swift
  Projects/App/Sources/Root/RootFeature.swift
  Projects/App/Sources/Root/RootView.swift
  Projects/Feature/FeatureCategoryDetail/Sources/CategoryDetailFeature.swift
  Projects/Feature/FeatureCategoryDetail/Sources/CategoryDetailView.swift
  Projects/Feature/FeatureContentDetail/Sources/ContentDetail/ContentDetailFeature.swift
  Projects/Feature/FeatureContentList/Sources/ContentList/ContentListFeature.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootFeature.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindFeature.swift
  Projects/Feature/FeatureSetting/Sources/Search/PokitSearchFeature.swift
  Projects/Feature/FeatureSetting/Sources/Search/PokitSearchView.swift
Labels: Fix

#101 QA: 커스텀 네비게이션 바 전환
  Projects/App/Sources/MainTab/MainTabFeatureView.swift
  Projects/DSKit/Sources/Components/PokitHeader.swift
  Projects/DSKit/Sources/Components/PokitHeaderItems.swift
  Projects/DSKit/Sources/Modifiers/PokitNavigationBarModifier.swift
  Projects/Feature/FeatureCategoryDetail/Sources/CategoryDetailView.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingView.swift
  Projects/Feature/FeatureContentList/Sources/ContentList/ContentListView.swift
  Projects/Feature/FeatureContentSetting/Sources/ContentSetting/ContentSettingView.swift
  Projects/Feature/FeatureLogin/Sources/AgreeToTerms/AgreeToTermsView.swift
  Projects/Feature/FeatureLogin/Sources/LoginRoot/LoginRootView.swift
  Projects/Feature/FeatureLogin/Sources/RegisterNickname/RegisterNicknameView.swift
  Projects/Feature/FeatureLogin/Sources/SelectField/SelectFieldView.swift
  Projects/Feature/FeatureLogin/Sources/SignUpDone/SignUpDoneView.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootView.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindView.swift
  Projects/Feature/FeatureSetting/Sources/Alert/PokitAlertBoxView.swift
  Projects/Feature/FeatureSetting/Sources/Setting/NickNameSetting/NickNameSettingView.swift
  Projects/Feature/FeatureSetting/Sources/Setting/PokitSettingView.swift
Labels: Fix

#102 fix: QA 적용 (08.17)
  Projects/DSKit/Sources/Components/PokitCard.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingFeature.swift
  Projects/Feature/FeatureContentDetail/Sources/ContentDetail/ContentDetailView.swift
  Projects/Feature/FeatureContentSetting/Sources/ContentSetting/ContentSettingView.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootView.swift
  Projects/Feature/FeatureSetting/Sources/Setting/PokitSettingFeature.swift
  Projects/Feature/FeatureSetting/Sources/Setting/PokitSettingView.swift
Labels: Fix, Bug

#109 Fix/#92 qa pm 0824
  Projects/Feature/FeatureContentList/Sources/ContentList/ContentListFeature.swift
  Projects/Feature/FeatureContentSetting/Sources/ContentSetting/ContentSettingFeature.swift
  Projects/Feature/FeatureContentSetting/Sources/ContentSetting/ContentSettingView.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootFeature.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootView.swift
Labels: Fix

#107 카카오톡 공유, URL 공유 기능 구현
  Projects/App/Resources/Pokit-info.plist
  Projects/App/Sources/AppDelegate/AppDelegateFeature.swift
  Projects/App/Sources/MainTab/MainTabFeature.swift
  Projects/App/Sources/MainTab/MainTabFeatureView.swift
  Projects/App/Sources/MainTab/MainTabPath.swift
  Projects/CoreKit/Project.swift
  Projects/CoreKit/Sources/CoreNetwork/BaseResponse.swift
  Projects/CoreKit/Sources/CoreNetwork/MoyaProvider+request.swift
  Projects/CoreKit/Sources/Data/Client/KakaoSDK/Model/CategoryKaKaoShareModel.swift
  Projects/CoreKit/Sources/Data/Client/KakaoSDK/Share/KakaoShareClient.swift
  Projects/CoreKit/Sources/Data/DTO/Category/CopiedCategoryRequest.swift
  Projects/CoreKit/Sources/Data/DTO/Category/SharedCategoryResponse.swift
  Projects/CoreKit/Sources/Data/Network/Category/CategoryClient.swift
  Projects/CoreKit/Sources/Data/Network/Category/CategoryEndpoint.swift
  Projects/DSKit/Sources/Components/PokitAlert.swift
  Projects/DSKit/Sources/Components/PokitLinkCard.swift
  Projects/DSKit/Sources/Components/PokitShareSheet.swift
  Projects/Domain/Sources/Base/BaseContentDetail.swift
  Projects/Domain/Sources/Base/BaseError.swift
  Projects/Domain/Sources/Base/BasePageable.swift
  Projects/Domain/Sources/CategorySharing/CategorySharing.swift
  Projects/Domain/Sources/ContentDetail/ContentDetail.swift
  Projects/Domain/Sources/DTO/Category/SharedCategoryResponse+Extension.swift
  Projects/Domain/Sources/DTO/Content/ContentDetailResponse+Extension.swift
  Projects/Feature/FeatureCategoryDetail/Sources/CategoryDetailFeature.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingFeature.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingType.swift
  Projects/Feature/FeatureCategorySharing/Resources/Resource.swift
  Projects/Feature/FeatureCategorySharing/Sources/CategorySharing/CategorySharingFeature.swift
  Projects/Feature/FeatureCategorySharing/Sources/CategorySharing/CategorySharingView.swift
  Projects/Feature/FeatureCategorySharingDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureCategorySharingDemo/Sources/FeatureCategorySharingDemoApp.swift
  Projects/Feature/FeatureContentDetail/Sources/ContentDetail/ContentDetailFeature.swift
  Projects/Feature/FeatureContentDetail/Sources/ContentDetail/ContentDetailView.swift
  Projects/Feature/FeatureContentList/Sources/ContentList/ContentListFeature.swift
  Projects/Feature/FeatureContentList/Sources/ContentList/ContentListView.swift
  Projects/Feature/FeatureContentSetting/Sources/ContentSetting/ContentSettingFeature.swift
  Projects/Feature/FeatureLogin/Sources/LoginRoot/LoginRootFeature.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootFeature.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootView.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindFeature.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindView.swift
  Projects/Feature/FeatureSetting/Sources/Search/PokitSearchFeature.swift
  Projects/Feature/FeatureSetting/Sources/Search/PokitSearchView.swift
  Projects/Feature/FeatureSetting/Sources/Search/Sheet/FilterBottomFeature.swift
  Tuist/Package.swift
  Tuist/ProjectDescriptionHelpers/CoreKit.swift
  Tuist/ProjectDescriptionHelpers/Feature.swift
  graph.png
Labels: Feat
