Repository YAPP-Github/Pokit-iOS, pull requests merged in 2024-07, with the labels that each got.

#10 소셜로그인 기능 구현
  .gitignore
  Projects/App/Resources/Pokit-info.plist
  Projects/App/Sources/AppDelegate.swift
  Projects/App/Sources/PokitApp.swift
  Projects/CoreKit/Project.swift
  Projects/CoreKit/Sources/Core/Extensions/UIApplication+rootViewController.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Controller/AppleLoginController.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Controller/GoogleLoginController.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Model/SocialLoginInfo.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/Model/SocialLoginProvider.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/SocialLoginClient.swift
  Projects/CoreKit/Sources/Data/Client/SocialLogin/SocialLoginError.swift
  Projects/CoreKit/Sources/Source.swift
  Projects/ThirdPartyLib/Project.swift
  Tuist/Package.swift
  graph.png
Labels: Feat, Setting, 로그인

#24 회원가입 구현
  Projects/App/Project.swift
  Projects/App/Resources/LaunchScreen.storyboard
  Projects/App/Resources/Pokit-info.plist
  Projects/DSKit/Resources/Assets.xcassets/icon_google.imageset/Contents.json
  Projects/DSKit/Resources/Assets.xcassets/icon_google.imageset/icon_google.svg
  Projects/DSKit/Sources/Components/PokitCalendar.swift
  Projects/DSKit/Sources/Components/PokitCheckBox.swift
  Projects/DSKit/Sources/Components/PokitFlowLayout.swift
  Projects/DSKit/Sources/Components/PokitIconLChip.swift
  Projects/DSKit/Sources/Components/PokitIconLInput.swift
  Projects/DSKit/Sources/Components/PokitIconRChip.swift
  Projects/DSKit/Sources/Components/PokitIconRInput.swift
  Projects/DSKit/Sources/Components/PokitInput.swift
  Projects/DSKit/Sources/Components/PokitPartTextArea.swift
  Projects/DSKit/Sources/Components/PokitSelect.swift
  Projects/DSKit/Sources/Components/PokitTextArea.swift
  Projects/DSKit/Sources/Components/PokitTextChip.swift
  Projects/DSKit/Sources/Components/PokitTextInput.swift
  Projects/DSKit/Sources/Components/PokitToolbarButton.swift
  Projects/DSKit/Sources/Foundation/PokitImage.swift
  Projects/DSKit/Sources/Modifiers/PokitNavigationBarModifier.swift
  Projects/Feature/FeatureAddCategoryDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureAddLinkDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureHomeDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureLinkDetailDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureLogin/Resources/Resource.swift
  Projects/Feature/FeatureLogin/Sources/AgreeToTerms/AgreeToTermsFeature.swift
  Projects/Feature/FeatureLogin/Sources/AgreeToTerms/AgreeToTermsView.swift
  Projects/Feature/FeatureLogin/Sources/Login/LoginFeature.swift
  Projects/Feature/FeatureLogin/Sources/Login/LoginView.swift
  Projects/Feature/FeatureLogin/Sources/LoginRoot/LoginRootFeature.swift
  Projects/Feature/FeatureLogin/Sources/LoginRoot/LoginRootView.swift
  Projects/Feature/FeatureLogin/Sources/RegisterNickname/RegisterNicknameFeature.swift
  Projects/Feature/FeatureLogin/Sources/RegisterNickname/RegisterNicknameView.swift
  Projects/Feature/FeatureLogin/Sources/SelectField/SelectFieldFeature.swift
  Projects/Feature/FeatureLogin/Sources/SelectField/SelectFieldView.swift
  Projects/Feature/FeatureLogin/Sources/SignUpDone/SignUpDoneFeature.swift
  Projects/Feature/FeatureLogin/Sources/SignUpDone/SignUpDoneView.swift
  Projects/Feature/FeatureLoginDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureLoginDemo/Sources/FeatureLoginDemoApp.swift
  Projects/Feature/FeatureMyFolderDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureMyPageDemo/Resources/LaunchScreen.storyboard
  Tuist/ProjectDescriptionHelpers/Feature.swift
  Tuist/ProjectDescriptionHelpers/Target+Extension.swift
  graph.png
Labels: Feat, Design

#25 FCM 구현
  Makefile
  Projects/App/Sources/AppDelegate.swift
  Projects/App/Sources/AppDelegate/AppDelegate.swift
  Projects/App/Sources/AppDelegate/AppDelegateFeature.swift
  Projects/App/Sources/PokitApp.swift
  Projects/App/Sources/RootFeature.swift
  Projects/App/Sources/RootView.swift
  Projects/CoreKit/Project.swift
  Projects/CoreKit/Sources/Data/Sources/Client/RemoteNotificationClient/RemoteNotificationsClient+LiveKey.swift
  Projects/CoreKit/Sources/Data/Sources/Client/RemoteNotificationClient/RemoteNotificationsClient+TestKey.swift
  Projects/CoreKit/Sources/Data/Sources/Client/RemoteNotificationClient/RemoteNotificationsClient.swift
  Projects/CoreKit/Sources/Data/Sources/Client/UserNotificationClient/UserNotificationClient+LiveKey.swift
  Projects/CoreKit/Sources/Data/Sources/Client/UserNotificationClient/UserNotificationClient+TestKey.swift
  Projects/CoreKit/Sources/Data/Sources/Client/UserNotificationClient/UserNotificationClient.swift
  Projects/ThirdPartyLib/Project.swift
  Tuist/Package.swift
  Tuist/ProjectDescriptionHelpers/Target+Extension.swift
  graph.png
Labels: Feat, Setting

#30 추가 컴포넌트 구현
  Projects/DSKit/Sources/Components/PokitAlert.swift
  Projects/DSKit/Sources/Components/PokitBadge.swift
  Projects/DSKit/Sources/Components/PokitCard.swift
  Projects/DSKit/Sources/Components/PokitLinkCard.swift
  Projects/DSKit/Sources/Components/PokitSelect.swift
Labels: Feat, Design

#34 디자인 시스템에 있는 프로토콜을 도메인이 접근할 수 없는 문제 수정
  Projects/DSKit/Sources/Components/PokitCard.swift
  Projects/DSKit/Sources/Components/PokitLinkCard.swift
  Projects/DSKit/Sources/Components/PokitSelect.swift
  Projects/Util/Sources/Protocols/PokitCardItem.swift
  Projects/Util/Sources/Protocols/PokitLinkCardItem.swift
  Projects/Util/Sources/Protocols/PokitSelectItem.swift
  Projects/Util/Sources/Source.swift
Labels: Fix

#35 템플릿 수정
  Projects/CoreKit/Sources/FeatureAction.swift
  Projects/CoreKit/Sources/Store+send.swift
  Projects/Feature/FeatureLogin/Sources/AgreeToTerms/AgreeToTermsFeature.swift
  Projects/Feature/FeatureLogin/Sources/AgreeToTerms/AgreeToTermsView.swift
  Projects/Feature/FeatureLogin/Sources/Login/LoginFeature.swift
  Projects/Feature/FeatureLogin/Sources/Login/LoginView.swift
  Projects/Feature/FeatureLogin/Sources/RegisterNickname/RegisterNicknameFeature.swift
  Projects/Feature/FeatureLogin/Sources/RegisterNickname/RegisterNicknameView.swift
  Projects/Feature/FeatureLogin/Sources/SelectField/SelectFieldFeature.swift
  Projects/Feature/FeatureLogin/Sources/SelectField/SelectFieldView.swift
  Projects/Feature/FeatureLogin/Sources/SignUpDone/SignUpDoneFeature.swift
  Projects/Feature/FeatureLogin/Sources/SignUpDone/SignUpDoneView.swift
  Templates/Pokit_TCA.xctemplate/___FILEBASENAME___Feature.swift
  Templates/Pokit_TCA.xctemplate/___FILEBASENAME___View.swift
Labels: Fix

#39 Tuist 트러블 슈팅
  Projects/App/Project.swift
  Projects/CoreKit/Project.swift
  Projects/DSKit/Project.swift
  Projects/Domain/Project.swift
  Projects/ThirdPartyLib/Project.swift
  Projects/Util/Project.swift
  Tuist/Package.swift
  Tuist/ProjectDescriptionHelpers/CoreKit.swift
  Tuist/ProjectDescriptionHelpers/Feature.swift
  Tuist/ProjectDescriptionHelpers/Settings+Extension.swift
  Tuist/ProjectDescriptionHelpers/Target+Extension.swift
  Tuist/ProjectDescriptionHelpers/TuistRelease.swift
  graph.png
Labels: Fix, Bug, Setting

#52 CI/CD 구축
  .github/workflows/build_test.yml
  .github/workflows/testflight_release.yml
  .github/workflows/workflow_test.yml
  .gitignore
  Gemfile
  Gemfile.lock
  Makefile
  Projects/App/Project.swift
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/100.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/1024.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/114.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/120.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/144.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/152.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/167.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/180.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/20.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/29.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/40.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/50.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/57.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/58.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/60.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/72.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/76.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/80.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/87.png
  Projects/App/Resources/Assets.xcassets/AppIcon.appiconset/Contents.json
  Projects/App/Resources/Assets.xcassets/Contents.json
  Projects/App/Resources/Pokit-iOS.entitlements
  Projects/App/Resources/Pokit-info.plist
  Tuist/Package.swift
  Tuist/ProjectDescriptionHelpers/CoreKit.swift
  Tuist/ProjectDescriptionHelpers/Settings+Extension.swift
  fastlane/Appfile
  fastlane/Fastfile
  fastlane/Matchfile
  fastlane/README.md
  fastlane/report.xml
Labels: Setting

#54 포킷 추가 및 수정 UI 구성
  Projects/App/Project.swift
  Projects/Feature/FeatureAddCategory/Sources/Source.swift
  Projects/Feature/FeatureAddCategoryDemo/Sources/FeatureAddCategoryDemoApp.swift
  Projects/Feature/FeatureCategorySetting/Resources/Resource.swift
  Projects/Feature/FeatureCategorySetting/Sources/Mock/CategorySettingMock.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingFeature.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingType.swift
  Projects/Feature/FeatureCategorySetting/Sources/PokitCategorySettingView.swift
  Projects/Feature/FeatureCategorySetting/Sources/Sheet/ProfileBottomSheet.swift
  Projects/Feature/FeatureCategorySettingDemo/Resources/LaunchScreen.storyboard
  Projects/Feature/FeatureCategorySettingDemo/Sources/FeatureCategorySettingDemoApp.swift
  Projects/Util/Sources/Constants.swift
  Tuist/ProjectDescriptionHelpers/Feature.swift
Labels: Feat

#60 feat: Navigation Path
  Projects/App/Sources/MainTab/MainTabFeature.swift
  Projects/App/Sources/MainTab/MainTabFeatureView.swift
  Projects/App/Sources/MainTab/MainTabPath.swift
  Projects/App/Sources/MainTab/TabAddSheetType.swift
  Projects/DSKit/Resources/Assets.xcassets/icon_folder_fill.imageset/Contents.json
  Projects/DSKit/Resources/Assets.xcassets/icon_folder_fill.imageset/icon_24_folder_fill.svg
  Projects/DSKit/Resources/Assets.xcassets/icon_folder_fill.imageset/icon_folder_fill.svg
  Projects/Feature/FeatureAddLink/Sources/AddLink/AddLinkFeature.swift
  Projects/Feature/FeatureAddLink/Sources/AddLink/AddLinkView.swift
  Projects/Feature/FeatureCategoryDetail/Sources/CategoryDetailFeature.swift
  Projects/Feature/FeatureCategoryDetail/Sources/CategoryDetailView.swift
  Projects/Feature/FeatureCategoryDetail/Sources/Mock/CategoryItemMock.swift
  Projects/Feature/FeatureLinkDetail/Sources/LinkDetail/LinkDetailFeature.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootFeature.swift
  Projects/Feature/FeaturePokit/Sources/PokitRootView.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindFeature.swift
  Projects/Feature/FeatureRemind/Sources/Remind/RemindView.swift
Labels: Feat

#63 HotFix: 앱 충돌 수정
  Projects/App/Sources/Intro/IntroFeature.swift
  Projects/App/Sources/Intro/IntroView.swift
  Projects/Feature/FeatureLogin/Sources/LoginRoot/LoginRootFeature.swift
Labels: Bug

#64 Hotfix: 앱 충돌 해결
  .gitignore
  Projects/Feature/FeaturePokit/Sources/PokitRootView.swift
Labels: Bug
